.forgotPassword {
  width: 500px;
  padding: 10px 20px;
  background-color: white;
  margin: 100px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  &--top {
    margin-top: 5px;
  }
}