.product {
     &--main {
       margin-top: 30px;
       background-color: white;
       display: flex;
      
     }
     
    &--left {
        padding-left: 30px;
        &__show {
            padding: 20px 0px 10px 10px;
        }
        &__selected {
            width: 570px!important;
            height: 520px!important;
           border: 10px red solid;
            
       
        }
        &__img {
            display: inline-block;
         margin-left: 10px;
         margin-bottom: 20px;
         overflow: hidden;
        }
        &__active{
            width: 135px!important;
            height: 120px!important;
        }
    }

    &--right {
        margin-left: 50px;
        margin-top: 35px;
        &__rate {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            & p {
                margin: 0px;
                margin-right: 10px;
            }
        }
        &__title {
            letter-spacing: 1.6px;
            font-size: 30px;
            margin: 0px;
            margin-bottom: 10px;
        }
        &__center {
            display: flex;
            font-size: 20px;
        }
        &__p1 {
            margin: 0px;
        }
         &__p2  {
            margin: 0px;
              margin-left: 30px;
         }
         &__price {
            display: flex;
            align-items: center;
            margin-top: 20px;
            padding: 20px 30px;
            background-color: #F2FCE7;
            & .p1 {
                font-size: 35px;
                margin: 0px;
                color: red;
                font-weight: bold;
                
            }
            & .main {
                display: flex;
                align-items: center;
                margin-left: 8px;
               
            }
            & .p2 {
                margin: 0px;
                font-size: 18px;
            }
            & .discount {
                padding: 0px 10px;
                margin-left: 10px;
                background-color: greenyellow;
                color: white;
            }
            & .giagoc {
                font-size: 35px;
                margin: 0px;
                color: red;
                font-weight: bold;
            }
            & .giatk {
                padding: 0px 10px 0px 0px; 
                & .tk {
                    margin: 0px;
                    
                }
            }
         }

    }
 &--button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    &__show {
        display: flex;
        align-items: center;
        
        width: 210px;
        height: 70px;
       
        & span {
            width: 40%;
            text-align: center;
            font-size: 25px;
           padding-top: 15px;
            height: 100%;
            border-top: 0.5px solid rgb(218, 209, 209);
            border-bottom: 0.5px solid rgb(218, 209, 209);
        }
    }
    &__sl {
        font-size: 22px;
        margin: 0px;
        margin-bottom: 13px;
    }
    &__s {
        border: 0.5px solid rgb(218, 209, 209);
        padding: 10px;
       height: 100%;
        background-color: white;
        width: 30%;
cursor: pointer;
    }
    &__s1 {
        border-top-left-radius: 50% ;
        border-bottom-left-radius: 50% ;
        border-right: none;
    }
    &__s2 {
        border-top-right-radius: 50% ;
        border-bottom-right-radius: 50% ;
        border-left: none;
    }
 }
 &--addtocart{
    & a{
        width: 48%;
        height: 100%;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    &__s {
        height: 65px;
        width: 100%;
        cursor: pointer;

    }
    &__s1 {
        background-color: white;
        border-color: greenyellow;
    }
    &__s1:hover {
        background-color: #F2FCE7;
        transition: 0.4s;
    }
    &__s2 {
        border: greenyellow;
        background-color: rgb(97, 173, 188);
        color: white;
    }
    &__s2:hover {
        
        background-color: rgb(146, 199, 209);
        transition: 0.4s;
    }
    &__p2 {
        font-size: 16px;
    }
    &__main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        & img {
            width: 50px;
            height: 50px;
        }
        & p {
            font-size: 16px;
        }
    }

 }
 &--cungloai {
   
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    &__header {
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: greenyellow;
     
    }
    &__add {
        position: absolute;
        right: 10%;
        bottom: 15%;
       & button {
        background-color: greenyellow;
        color: white;
        border: greenyellow;
        padding: 6px 10px;
        border-radius: 50%;
        cursor: pointer;
       }
       & button:active {
        background-color: red;

       }
    }
    &__content {
        & .col {
            --ant-display: block;
            display: block;
            display: var(--ant-display);
            flex: 0 0 20%;
            max-width: 20%;
        }
        & .item {
           
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            min-height: 360px;
        & .top  img {
            width: 100%;
          aspect-ratio: 5/4;
        }
        & .under {
            padding: 10px 10px 10px 10px;
            & h3 {
                margin: 0px;
                font-size: 17px;
                letter-spacing: 1.6;
                font-weight: 500;
                min-height:40px;
            }
        }
        & .p1 {
            margin: 0px;
           }
        & .p2 {
            margin: 0px;
            margin-right: 10px;
            
           }
           & .price {
             display: flex;
              
           }
            
        }
    }
    &__gachngang {
        text-decoration: line-through;
    }
    &__footer {
        text-align: center;
        padding: 20px 0px;
        & a {
            border: none;
        }
    }
    &__button {
        padding: 10px 15px;
        background-color: white;
        color: rgb(238, 51, 111);
        border-color: red;
        border-radius: 40%;
        cursor: pointer;
    }
    &__button:hover {
        color: white;
        background-color:rgb(238, 51, 111) ;
    }
 }
 &--mota {
    padding: 20px 30px;
    background-color: white;
 }
}
.gachngang {
    text-decoration: line-through;
}

