.introduce {
    font-family: Arial, Helvetica, sans-serif;
   margin: 50px 12px;
   & h1 {
    font-size: 30px;
   }
    & p {
        font-size: 16px;
    }
    &--b {
        padding-bottom: 10px;
        
        font-size: 20px;
    }
}

