.blogItems {
  &--sider {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 300px!important;
    width: 300px!important;
    min-width: 300px!important;
    padding: 10px 20px;
    min-height: 800px!important;
  }
  &--message {
      font-size: 25px;
      text-align: center;
     margin: auto;
     
    }
  &--col {
      --ant-display: block;
      display: block;
      display: var(--ant-display);
      flex: 0 0 24.833333333333336%;
      max-width: 24.833333333333336%;
      
  }
 
  &--item {
      margin-left: 10px;
     background-color: white;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     min-height: 360px;
      &__top img {
          width: 100%;
        aspect-ratio: 4/4;
      }


      &__under {
          padding: 10px 10px 10px 10px;
          & h3 {
            color: black;
              margin: 0px;
              font-size: 17px;
              letter-spacing: 1.6;
              font-weight: 500;
              min-height:75px;
          }
          & div {
            font-size: 16px;
            height: auto;
            min-height: 100px;
            color: rgb(117, 112, 112)
          }
      }
     &__p1 {
      margin: 0px;
      font-size: 20px;
      color: rgb(150, 235, 23);

     }
     &__p2 {
      
      margin: 0px;
      margin-right: 10px;
      
     }
     & .dc {
      color: red;
     }
     &__price {
       display: flex;
       .gachngang {
          text-decoration: line-through;
      }
     }
   
  }
  &--pagination{
    position: relative;
    left: 1100px;
    top: 10px;
  }
}

.BlogDt {
  padding: 10px 40px;
  &--back {
      margin-left: 20px;
  }
  &--title{
    font-size: 40px;
  }
  &--content{
    font-size: 16px;
  }

  &--description {
    font-size: 18px;
    & img {
      margin-top: 20px;
      margin-left: 250px;
    }
  }
}