.register {
   margin: auto;
   margin-top: 100px;
   margin-bottom: 100px;
     padding: 20px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: white;
    width: 30%;
//  &--form{
    border-radius: 5px;
//  }
&--login {
    text-align : center;
    font-weight : bold;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 30px;
}
 &--heading {
     margin-top: 0px;
     text-align: center;
     font-size: 30px;
     color: greenyellow;
     margin-bottom:10px;
 }
 &--group {
     &__label {
         font-size: 15px;
         font-weight: bold;
         
 
     }
    // & #username {
    //     height: 100%
    //  }
     &__control {
         height: 40px;
         width: 100%;
         font-size: 16px;
         margin-top: 10px;
     }
 
 }
 &--submit {
    background-color: rgb(57, 204, 84);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: white;
    
}
&--submit:active {
    background: orange;
    transition: 0.2s;
}

 }
 

 